<odoo>
    <!-- Root Menu Item -->
    <!-- <menuitem parent='hr.menu_hr_services' id="termination_menu_root" name="Termination"/> -->

    <!-- Terminatiosn Submenu -->
    <menuitem id="termination_request_parent" name="Terminations" parent="hr.menu_hr_services" />
    <menuitem id="termination_requests" parent="termination_request_parent" name="Terminination Requests" action="employee_termination_action"/>
    <menuitem id="termination_reporting" parent="termination_request_parent" name="Reporting"/>
    <menuitem id="termiantion_reporting_dashboard" parent="termination_reporting" name="Dashboard" action="hr_termination_dashboard_action"/>

</odoo>
