<odoo>
    <!-- Action for Refund -->
    <record id="action_medical_coverage" model="ir.actions.act_window">
        <field name="name">Refund</field>
        <field name="res_model">hr.medical.coverage</field>
        <field name="view_mode">tree,form</field>
    </record>

    <!-- action for medical organization -->
    <record id="action_medical_coverage_organization" model="ir.actions.act_window">
        <field name="name">Medical Organization</field>
        <field name="res_model">hr.medical.coverage.organization</field>
        <field name="view_mode">tree,form</field>
    </record>

    <!-- action for medical pre request -->

    <record id="action_medical_pre_request" model="ir.actions.act_window">
        <field name="name">Credit</field>
        <field name="res_model">hr.medical.pre.request</field>
        <field name="view_mode">tree,form</field>
    </record>

    <!-- Main Menu for Medical Coverage -->
    <menuitem id="menu_medical_coverage_root"
        name="Medical Coverage"
        parent="hr.menu_employee_benefits"
        sequence="1" />


    <!-- Dashboard menu -->
    <menuitem id="menu_medical_coverage_dashboard"
        name="Dashboard"
        parent="menu_medical_coverage_root"
        action="hr_medical_coverage_dashboard_action"
        sequence="1"
        groups="user_group.group_hr_office,user_group.group_finance_office,base.group_system" />


    <!-- Requests Submenu under Medical Coverage -->
    <menuitem id="menu_medical_coverage"
        name="Medical Cash Refund"
        parent="menu_medical_coverage_root"
        action="action_medical_coverage"
        sequence="2" />

    <menuitem id="menu_medical_pre_request"
        name="Medical Credit Bill"
        parent="menu_medical_coverage_root"
        action="action_medical_pre_request"
        sequence="3" />

    <menuitem id="menu_medical_coverage_organization"
        name="Medical Institution"
        parent="menu_medical_coverage_root"
        action="action_medical_coverage_organization"
        groups="user_group.group_hr_office,base.group_system"
        sequence="4" />
</odoo>