<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Main Menu -->
    <menuitem
        id="hr_salary_increment_menu"
        name="Salary Increment"
        parent="hr.menu_hr_root"
        sequence="20" />

    <!-- Submenu for Batch Processing -->
    <menuitem
        id="batch_salary_increment_menu"
        name="Batch Salary Increment"
        parent="hr_salary_increment_menu"
        sequence="2" />


    <!-- Bind Action to Batch Menu -->
    <menuitem
        id="batch_salary_increment_list_menu_request"
        name="Salary Increment"
        parent="batch_salary_increment_menu"
        action="action_hr_salary_increment_batch"
        sequence="1" />

    <record id="action_hr_salary_increment_batch_line_graph" model="ir.actions.act_window">
        <field name="name">Employee Increment Lines</field>
        <field name="res_model">hr.salary.increment.batch.line</field>
        <field name="view_mode">graph,tree</field>
        <field name="context">{'group_by': ['batch_id']}</field>
        <field name="domain">[('batch_id.state', '=', 'approved')]</field>
        <field name="help">Use the search filters to select a specific batch and see the increments
            per employee.</field>
    </record>


    <!-- Dashboard menu -->
    <menuitem id="menu_salary_increment_dashboard"
        name="Reporting"
        parent="batch_salary_increment_menu"
        action="action_hr_salary_increment_batch_line_graph"
        sequence="1" />

    <!-- <menuitem
        id="batch_salary_increment_list_menu_approve"
        name="Approve Salary Increment"
        parent="batch_salary_increment_menu"
        action="action_hr_salary_increment_batch"
        sequence="2" /> -->
</odoo>