<odoo>
    <!-- Root Menu for Performance -->
    <menuitem id="menu_hr_performance_root" name="Performance" sequence="10" />

    <!-- Submenu for Evaluation Schedules -->
    <menuitem id="menu_hr_evaluation_schedule"
        name="Evaluation Schedules"
        parent="menu_hr_performance_root"
        action="action_evaluation_schedule"
        groups="user_group.group_hr_office,base.group_system"
        sequence="1" />

    <!-- Submenu for Performance Evaluations -->
    <menuitem id="menu_hr_performance_evaluation"
        name="Evaluations"
        parent="menu_hr_performance_root"
        action="action_performance_evaluation"
        sequence="2" />

    <!-- submenu for reporting -->
    <menuitem id="menu_hr_evaluation_reporting"
        name="Reporting"
        parent="menu_hr_performance_root"
        action="action_hr_performance_evaluation_report"
        groups="user_group.group_hr_office,base.group_system"
        sequence="3" />
</odoo>